
body{
    background-image: url("../images/Title\ background\ Image\ Lone\ Cypress\ Edit.jpg");
    background-size: cover;
  }

  .jumbotron{
    background: rgba(54, 54, 54, 0.5);
    color: gainsboro;
    border: solid 2px lightslategray;
  }

  .card{
    background: rgba(54, 54, 54, 0.5);
    color: gainsboro;
  }

  .port-card:hover{
    border: solid 2px blue;
  }
  .card-title{
      font-size: 24px;
      text-decoration: underline;  
  }

  .card-link{
      font-size: 16px;
      color: lightseagreen !important; 
   }

   .img{
    float: left;
    margin: 10px;      
   }

   .p{
       font-size: 18px;
   }

   .card-header{
    border: solid 1px lightslategray;
    background: rgba(54, 54, 54, 0.8);
   }

   .contactLink{
    color: gainsboro;
   }

   .card-body{
       border: solid 1px lightslategray;
   }

   .link{
       padding: 5px;
   }

   .img-skill{   
    border-radius: 50%;
    height: 75x;
    width: 75px;
    margin: 1.25px;
   }

.img-skill:hover{
    border: solid 2px blue;
}

.img-skill-port{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.img-skill-port:hover{
    border: solid 2px blue;
}

.img-con{
    width: 20px;
    height: 20px;
    margin: 2px;
}
